@import "../../../node_modules/materialize-css/sass/components/color-variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

// Codix colors
// ==========================================================================
$codix: (
        "base":       #29A19C,
        "lighten-1":  #A3F7BF,
        "darken-1":   #393E46,
        "darken-2":   #222831,
        "running":    color("green", "base"),
        "exited":     color("red", "base"),
        "paused":     color("yellow", "base")
);
$colors: map_merge($colors, ("codix": $codix));

// 0. General
// ==========================================================================

$main-text-color:  color("codix", darken-2) !default;
$main-font-family: 'Montserrat', sans-serif;
$main-font-size: 13px;
$main-font-weight: 400;
$main-line-height: 1.471;
$main-bg-color: #F7F7F7 !default;

$login-bg-image: "/assets/images/login_background.png";

// 1. Colors
// ==========================================================================

$primary-color: color("codix", "base") !default;
$secondary-color: $primary-color !default;
$link-color: color("codix", darken-2) !default;
$button-color:  color("codix", base) !default;
$wrong-color: #C40147;
$light-color:  color("codix", lighten-1) !default;
$hover-color: lighten(color("codix", lighten-1), 10%);

// 4. Cards
// ==========================================================================

$card-link-color: $link-color !default;

// 9. Dropdown
// ==========================================================================

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$dropdown-item-height: 40px !default;

// 13. Navigation Bar
// ==========================================================================

$navbar-height: 44px !default;
$navbar-height-mobile: 46px !default;
$navbar-font-color: $main-text-color !default;
$navbar-brand-font-size: 1.4rem !default;
$navbar-bg-color: #EDEDED !default;
$navbar-border-color: #D9DEE4 !default;

// 14. Side Navigation
// ==========================================================================
$sidenav-width: 250px !default;
$sidenav-bg-color: color("codix", darken-2) !default;
$sidenav-link:white

