@charset "UTF-8";

@import "variables";

.login {
    background: $sidenav-bg-color;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    main, header, footer {
        padding-left: 0;
        background: transparent;
    }

    header {
        padding-top: 20px;
    }

    footer {
        .footer-copyright {
            color: color('grey', 'lighten-3');

            a {
                color: color('grey', 'lighten-3');
            }
        }
    }
    .card {

        box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
        margin-top: 100px;
    }
    button{
        background-color:$button-color;
    }
   .sso-btn{
       i{
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
            color: $button-color;
            font-size: 9em;
       }
   }

   img{
       width: 100px;

       &.brand-logo{
            height: 50px;
       }
   }
}
