@charset "UTF-8";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "variables";
@import "../../../node_modules/materialize-css/sass/materialize";

.page {
    color: $main-text-color;
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    line-height: $main-line-height;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main, header, footer {
        padding-left: $sidenav-width;

        > div, nav {
            padding: 0 10px;
        }
    }

    @media #{$medium-and-down} {
        header, main, footer {
            padding-left: 0;
        }
    }

    main {
        background-color: $main-bg-color;
        flex: 1 0 auto;
    }

    footer {
        background-color: $main-bg-color;
        padding-top: 16px;

        .row {
            margin-bottom: 10px;
        }

        .footer-copyright {
            img{
                width: 100px;
            }
        }
    }
}

.logo{
    padding-top: 15px;
    text-align: center;
    img{
        width: 90%;
        
    }
}

nav {
    background-color: $navbar-bg-color;
    border-bottom: 1px solid $navbar-border-color;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.sidenav {
    background-color: $sidenav-bg-color;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, .2);
    
    li {
        a {
            color: white;
            font-size: 12px;
            padding: 0 16px;
            & > i.material-icons {
                color:white;
            }

            &:hover {
                background-color: lighten(color("codix", lighten-1), 5%);
                color: $link-color;
                i.material-icons {
                    color: $link-color;
                }
            }
        }
    }

    li.active {
        background-color: $light-color;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, .4);
        a {
            color: $link-color;
            & > i.material-icons {
                color: $link-color;
            }
        }
        a:hover{
            color: $link-color;
            i{
                color: $link-color;
            }
        }
        li {
            a {
                color: white;
                i {
                    color:white;
                }
            }
        }
        li:hover{
            a {
                color: $link-color !important;
            }
        }
        li.active {
           a {
                color: $link-color;
            }
            li{
                a{
                    color: white;
                }
            }

        }
    }
    
    .collapsible-header:hover {
        background-color: lighten(color("codix", lighten-1), 5%);
    }
    .collapsible-body {
        background-color: lighten($sidenav-bg-color, 15%);
        
        li.active{
            a{
                background-color: $light-color;
                color: white;
            }
        }
    }

    .divider {
        margin:0;
        height:8px;
        border-bottom:1px solid #003A52;
        background-color: transparent;
    }
}
a.sidenav-trigger.top-nav {
    position: absolute;
    text-align: center;
    top: 10px;
    float: none;
    margin-left: 1.5rem;
    font-size: 36px;
    z-index: 2;
    left: 0;
}

.card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    .card-title {
        font-size: 20px;
        font-weight: 400;
    }
}


.dropdown-content {
    li > a > i {
        font-size: 22px;
        margin-right: 5px;
        padding: 0px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

.alert {
    @extend .card;
    width: 100%;
    padding: 10px;

    a {
        color: white;
        i {
            font-size: 20px;
        }
    }

    &.error {
        @extend .red;
        @extend .lighten-1;
    }

    &.success {
        @extend .green;
        @extend .lighten-1;
    }

    &.info {
        @extend .blue;
        @extend .lighten-1;
    }
}

p {
    line-height: 24px;

    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
}

.user-profile-image {
    @extend .circle;
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
        @extend .circle;
        content: ' ';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border: 1px solid lighten($main-text-color, 30%);
    }
}

.pagination {
    li {
        &:first-child, &:last-child {
            a, span {
                font-size: 2.2rem;
                line-height: 24px;
            }
        }

        span {
            display: inline-block;
            font-size: 1.2rem;
            padding: 0 10px;
            line-height: 30px;
        }

        &.active {
            span {
                color: white;
            }
        }
    }
}

.breadcrumbs {
    background-color: transparent;
    border-bottom: 0px;
    margin-top: 10px;

    .breadcrumb {
        color: $main-text-color;
        display: inline-block;
        font-size: 20px;
        line-height: 25px;

        &:before {
            color: $main-text-color;
        }

    }
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.input-field.invalid {
  color: $wrong-color;
  margin: 0px;
}
.input-field.invalid input {
  border-bottom-color: $wrong-color;
}
.input-field {
    margin:0px;
}
.validator {
    font-weight: bold;
    margin: 0px;
    p{
        margin: 0px;
    }
}

.modal.right-sheet {
    margin: 0;
    width: 50%;
    left: 50%;
    right: 0 !important;
    min-height: 100%;
    height: auto;
    top: 0% !important;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
    will-change: transform;
    transform: translate(100%, 0) scale(1) !important;
    opacity: 1 !important;

    @media #{$small-and-down} {
      width: 90%;
      left: 0;
    }
}
  
.modal.right-sheet.open {
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .35s .25s;
}
  
.modal.right-sheet.open:not([style*="display: none"]):not([style*="opacity: 0;"]) {
    transform: translate(0, 0%) !important;
}

.modal.confirm {
    width: 30%;
    height: 30%;
}

.datetime-theme {
    .vdatetime-popup__header,
    .vdatetime-calendar__month__day--selected > span > span,
    .vdatetime-calendar__month__day--selected:hover > span > span {
        background: $sidenav-bg-color;
    }
    .vdatetime-year-picker__item--selected,
    .vdatetime-time-picker__item--selected,
    .vdatetime-popup__actions__button {
        color: $sidenav-bg-color;
    }
}
.datetime-input {
    max-width: calc(100% - 3rem) !important;
    float: right !important;
}


#select-branch {
    :hover {
        background-color: $hover-color;
    }
}

.scroll{
    .card:hover{
        background-color:$hover-color;
        color: $link-color !important;
    }
}
a.collection-item.router-link-exact-active.router-link-active.selected-branch {
    .card{
            background-color: lighten($color: $sidenav-bg-color, $amount: 10%);
            color: white;
        }
    }
button{
    background-color: color("codix", base);
}
.validator{
    .red-text{
        color: $wrong-color !important;
    }
}
.red{
    background-color: $wrong-color !important;
}
.data-table{
    margin-left: 30px;
    margin-right: 30px;
}
.tabs{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}
caption{
    margin-top: 20px;
}

