registry=http://10.8.7.234:8081/repository/npm-group/
@enterpriseapps:registry=https://gitlab.codixfr.private/api/v4/packages/npm/
//gitlab.codixfr.private/api/v4/packages/npm/:_authToken=uNWQuEeXGsvzfjWjGhdf
strict-ssl=false
